<!DOCTYPE html>
<html>
  <head><title>Home</title></head>
  <body align="center">
    {% if (extratext|length > 0) %}
    <div style="background-color:yellow; font-size: 22px; width:30%; margin:auto; border-style: outset; height: 30px; ">
      <mark><b>{{extratext}}</b></mark>
    </div>
    {% endif %}
    <h2>Log In or Register</h2>
    {{extratext}}
    <form action="/auth" method="POST">
      <p>Username:</br>
      <input type="text" name="username"></p>
      <p>Password:</br>
      <input type="password" name="password"></p>
      <p><input type="submit" value="Login" name="submit">&nbsp;&nbsp;<input type="submit" name="submit" value="Register"></p>
    </form>
  </body>
</html>
